// Typeface variables

// Primary, sans-serif
$Montserrat: 'Montserrat', sans-serif;
$bold: 900;
$medium: 500;
$light: 300;

// Secondary, serif
$Arapey: 'Arapey', serif;
$italic: 400i;

// Color variables
$primary: #FFFFFF;
$secondary: #8C8C82;
$accent: #95815B;
$background: #050A0A;
$navbar: #D7DCDC;

// Structure variables


body {
  margin: 0;
  background-color: $background;
  color: $primary;
  font-family: $Montserrat;
}
#navbar {
  position: absolute;
  width: 100%;
  height: 50px;
  .navbar__brand {
    padding: 15px 0 15px 20px;
    font-size: 20px;
    font-weight: $light;
    line-height: 20px;
    letter-spacing: 2px;
    color: $accent;
  }
}
