/* Typeface variables */

/* Primary, sans-serif*/
$Montserrat: 'Montserrat', sans-serif;
$bold: 900;
$medium: 500;
$light: 300;

/* Secondary, serif */
$Arapey: 'Arapey', serif;
$italic: 400i;

/* Color variables */
$primary: #FFFFFF;
$secondary: #8C8C82;
$accent: #95815B;
$background: #050A0A;
$navbar: #D7DCDC;



body {
  margin: 0;
  background-color: $background;
  color: $primary;
  font-family: $Montserrat;
}

/* Navbar Component Styles */
#navbar .navbar__smallBrand,
#mobile-nav {
  display: none;
}
#navbar {
  position: absolute;
  width: 100%;
  height: 50px;
  font-size: 17px;
  line-height: 20px;
  font-weight: $light;
  letter-spacing: 2px;
  background-color: $background;
  .navbar__brand {
    display: inline-block;
    float: left;
    padding: 15px 0 15px 30px;
    color: $accent;
  }
  .navbar__smallBrand {
    float: left;
    padding: 15px 0 15px 30px;
    color: $accent;
  }
  .navbar__links {
    position: fixed;
    top: 15px;
    right: 30px;
    margin: 0;
    height: 20px;
    list-style-type: none;
    li {
      display: inline;
      padding: 0 15px;
      border-left: 1px solid $navbar;
      transition: all .25s;
      &:first-child {
        border-left: none;
      }
      a {
        text-decoration: none;
        color: $navbar;
        font-size: 16px;
        transition: color .25s;
        &:hover {
          color: $accent;
        }
      }
    }
  }
}
/* Media Queries and Responsive Styles */
@media only screen and (max-width: 1000px) {
  #navbar .navbar__brand {
    display: none;
  }
  #navbar .navbar__smallBrand {
    display: inline-block;
  }
}
@media only screen and (max-width: 900px) {
  #navbar .navbar__links li {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 768px) {
  #navbar {
    display: none;
  }
  #mobile-nav {
    padding-top: 15px;
    display: block;
    text-align: center;
    button {
      color: $accent;
      background: transparent;
      .material-icons {
        transition: all .25s;
        font-size: 35px;

      }
    }
  }
}
/* Mobile Nav corrective styles */
.cdk-overlay-container .mat-menu-panel {
  max-width: 100%;
  button {
    text-align: center;
    font-family: $Montserrat;
    font-weight: $light;
    font-size: 24px;
    background-color: transparent;
    a {
      text-decoration: none;
      color: $navbar;
      transition: all .25s;
    }
  }
}
/* Fullscreen Video Styles */
.iframe-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  pointer-events: none;
  overflow: hidden;
}

/* Make the iframe keep an aspect ratio, and
position it in the middle of its parent wrapper*/

.iframe-wrapper iframe {
  width: 100vw;
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;
}
/* Material icon fonts */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
